{% extends "layout.html" %} {% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image--><img
      class="masthead-avatar mb-5"
      src="./static/assets/img/avataaars.svg"
      alt=""
    /><!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">
      Graphic Artist - Web Designer - Illustrator
    </p>
  </div>
</header>

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Portfolio
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items-->
    <div class="row d-flex align-items-center justify-content-center">
      <div id="app">
        <h1>[[ title ]]</h1>
        <h3>Title: [[ apiResponse.title ]]</h3>
        <h4>Genre: [[ apiResponse.genre ]]</h4>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<script>
  var app = new Vue({
    el: "#app",
    delimiters: ["[[", "]]"],
    data: {
      title: "Flask-Vue Portfolio",
      apiResponse: {},
    },
    mounted: function () {
      this.fetchData();
    },
    methods: {
      fetchData: function () {
        const data = {};
        fetch("/test")
          .then((response) => response.json())
          .then((res) => {
            this.apiResponse = res;
          })
          .catch(console.error);
      },
    },
  });
</script>
{% endblock %}
